<div class="flex h-screen overflow-y-auto max-h-screen">
  <!-- Sidebar for Field Groups -->
  <div class="w-1/4 bg-white p-4 border-r">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-lg font-semibold">Field Groups</h2>
      <button class="text-blue-500" (click)="openAddFeildGroup()">
        <i class="fas fa-plus"></i> Create new
      </button>
    </div>
    <div *ngFor="let group of fieldGroupsArray.controls; let i = index" class="mb-2">
      <button 
        (click)="selectGroup(fieldGroupsArray.at(i))"
        [class.bg-blue-100]="selectedGroup == fieldGroupsArray.at(i)"
        class="w-full text-left p-2 border rounded hover:bg-gray-100"
      >
      {{ fieldGroupsArray.at(i).get('groupName')?.value }}
      </button>
    </div>
    <div class="text-center">
    <button (click)="exportForm()" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700 mt-4">
      Export as JSON
    </button>
  </div>
  </div>

  <!-- Main Content Area -->
  <div class="flex-1 bg-gray-50 p-6  overflow-y-auto max-h-screen" id="middleSection" cdkDropList 
  [cdkDropListConnectedTo]="['rightSidebar']"
  (cdkDropListDropped)="drop($event)"
  [cdkDropListData]="getFeildsArray().value">
  
    <div class="bg-white p-4 shadow-md rounded-md mb-4">
      <h3 class="text-lg font-semibold flex justify-between items-center">
        <span>{{ getControl('groupName').value }}</span>
      
        <div class="flex space-x-2">
           <!-- Edit Icon -->
    <button (click)="editGroup()" class="text-gray-500 hover:text-gray-700 text-sm">
      <i class="fas fa-pen-to-square"></i> 
    </button>

    <!-- Copy Icon -->
    <button (click)="copyGroup()" class="text-gray-500 hover:text-gray-700 text-sm">
      <i class="fas fa-copy"></i> 
    </button>

    <!-- Delete Icon  -->
    <button (click)="deleteGroup()" class="text-red-500 hover:text-red-700 text-sm">
      <i class="fas fa-trash-can"></i> 
    </button>
        </div>
      </h3>
      <input type="text" class="w-full p-2 border rounded mt-2" placeholder="Add description..." [formControl]="getControl('description')" />
    </div>

    <!-- Fields List -->
     <ng-container *ngFor="let field of getFeildsArray().controls; let i = index">
    <div class="bg-white p-4 shadow-md rounded-md mb-4 flex flex-row gap-x-[10px]" cdkDrag>
      <div class="cursor-grab content-center text-gray-500 hover:text-gray-700" cdkDragHandle title="Drag to reorder">
        <i class="fas fa-grip text-lg"></i>
      </div>
      <div class="flex justify-between flex flex-col w-full">
      <div  class="flex items-center justify-between flex flex-row">
     
      
      <h3 class="text-lg font-semibold flex-1">{{ field.value.label ? field.value.label : field.value.name }} 
      </h3>
        <div class="flex space-x-2 ">
      <button class="text-gray-500 hover:text-gray-700 text-sm" (click)="openAddFeildInputModal(i)"><i class="fas fa-pen"></i></button>
      <button (click)="copyField(field.value)" class="text-gray-500 hover:text-gray-700 text-sm">
        <i class="fas fa-copy"></i> 
      </button>
      <button (click)="deleteField(i)" class="text-gray-500 hover:text-gray-700 text-sm"><i class="fas fa-trash"></i></button>
    </div>
    </div>
      
         
          <p class="text-sm text-gray-500">{{ field.value.description }}</p>
          <input *ngIf="field.value.type == 'text' || field.value.type.includes('number') || field.value.type.includes('file') || field.value.type.includes('date') || field.value.type.includes('time')" [type]="field.value.type" [formControl]="getfeildControl(field,'value',i)" class="w-full p-2 border rounded mt-1" [placeholder]="field.value.placeholder? field.value.placeholder : 'Type Something'" [attr.min]="field.value.min"
          [attr.max]="field.value.max" (change)="validateMinMax(field, i)"/>
          <textarea  *ngIf="field.value.type === 'textarea'" [formControl]="getfeildControl(field,'value',i)" class="w-full p-2 border rounded mt-1" [placeholder]="field.value.placeholder? field.value.placeholder : 'Type Something'" [attr.min]="field.value.min"   [attr.max]="field.value.max" (change)="validateMinMax(field, i)"></textarea>
          <div *ngIf="getFeildsArray().controls[i].invalid && getFeildsArray().controls[i].touched" class="text-red-500 text-sm mt-1">
            <div *ngIf="getFeildsArray().controls[i].hasError('min')">
              Value must be at least {{ field.value.min }}.
            </div>
            <div *ngIf="getFeildsArray().controls[i].hasError('max')">
              Value must be no more than {{ field.value.max }}.
            </div>
          </div>
          <ng-container  *ngIf="(field.value.type.includes('radio')|| field.value.type.includes('checkbox'))">
          <label class="flex items-center  flex-row w-[25%]" >
          <input [type]="field.value.type" [formControl]="getfeildControl(field,'value',i)" class="w-[50%] p-2 border rounded mt-1" [placeholder]="field.value.placeholder? field.value.placeholder : 'Type Something'" 
         value="single" > Single
          </label>
          <label class="flex items-center  flex-row w-[25%]" >
          <input [type]="field.value.type" [formControl]="getfeildControl(field,'value',i)" class="w-[50%] p-2 border rounded mt-1" [placeholder]="field.value.placeholder? field.value.placeholder : 'Type Something'" 
        valu="double"  > Double
        </label>
      </ng-container>
     
          <select *ngIf="field.value.type.includes('select')" [(ngModel)]="field.value.value" class="w-full p-2 border rounded mt-1"  >
            <option  [value]="'single'">
              single
            </option>
            <option  [value]="'Double'">
              Double
            </option>
          </select>
        </div>
    </div>
  
  </ng-container>
  </div>

  <!-- Elements Sidebar -->
  <div  cdkDropList 
  id="rightSidebar"
  [cdkDropListConnectedTo]="['middleSection']"
  [cdkDropListData]="inputFields" class="w-1/4 bg-white p-4 rounded-lg shadow  overflow-y-auto max-h-screen">
    <h3 class="font-bold text-lg mb-4">Elements List</h3>
    <input class="w-full p-2 border rounded mb-4" placeholder="Search anything">
    
    <div class="space-y-3">
      <ng-container  *ngFor="let field of inputFields">
        <h4 class="font-semibold text-md">{{field.inpType}}</h4>
        <div *ngFor="let element of field.options" cdkDrag [cdkDragData]="element" class="p-2  rounded cursor-pointer flex items-center gap-2">
          <div class="bg-gray-200 p-2 rounded">
            <i [class]="element.icon"></i>
        </div>
          
            <div>
                <p class="font-medium">{{ element.label }}</p>
                <p class="text-sm text-gray-500">{{ element.subLabel }}</p>
            </div>
        </div>
        
        
      </ng-container>
    </div>
</div>
</div>
<div *ngIf="isAddFeildGroupModalOpen" class="fixed inset-0 bg-gray-500 bg-opacity-50 flex items-center justify-center">
  <div class="bg-white rounded-lg p-6 max-w-sm w-full">
    <h2 class="text-xl font-semibold mb-4">Enter Group Name</h2>

    <!-- Form to Add Field Group -->
   
    <form [formGroup]="addFieldGroupForm" (ngSubmit)="addNewFieldGroup()">
      <div class="mb-4">
        <label for="groupName" class="block text-sm font-medium text-gray-700">Group Name</label>
        <input
          id="groupName"
          name="groupName"
          type="text"
          class="mt-1 block w-full border border-gray-300 rounded px-3 py-2"
          formControlName="groupName"
          [ngClass]="{
            'border-red-500': addFieldGroupForm.get('groupName')?.invalid && addFieldGroupForm.get('groupName')?.touched,
            'border-gray-300': addFieldGroupForm.get('groupName')?.valid
          }"
          required
        />
        <div *ngIf="addFieldGroupForm.get('groupName')?.invalid && addFieldGroupForm.get('groupName')?.touched" class="text-red-500 text-sm mt-1">
          <div *ngIf="addFieldGroupForm.get('groupName')?.hasError('required')">Group Name is required.</div>
        </div>
      </div>


      <div class="mb-4">
        <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
        <input
          id="description"
          name="description"
          type="text"
          class="mt-1 block w-full border border-gray-300 rounded px-3 py-2"
          formControlName="description"
          
         
        />
       
      </div>

      <div class="mb-4 text-center">
        <button
          type="submit"
          class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-700"
         
        >
          Submit
        </button>
      </div>
    </form>

   
    <!-- Close Button -->
     <div class="text-center">
    <button (click)="closeAddFeildGroup()" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-700 text-center">
      Close
    </button>
  </div>
  </div>
</div>

<div *ngIf="isAddFeildInputModalOpen" class="fixed inset-0 bg-gray-500 bg-opacity-50 flex items-center justify-center">
  <div class="bg-white rounded-lg p-6 max-w-sm w-full">
    <h2 class="text-xl font-semibold mb-4">Enter Field Info</h2>

    <!-- Form to Add Field Group -->
   
    <form [formGroup]="addFieldForm" (ngSubmit)="addNewField()">
      <div class="mb-4">
        <label for="label" class="block text-sm font-medium text-gray-700">label</label>
        <input
          id="label"
          name="label"
          type="text"
          class="mt-1 block w-full border border-gray-300 rounded px-3 py-2"
          formControlName="label"
          [ngClass]="{
            'border-red-500': addFieldForm.get('label')?.invalid && addFieldForm.get('label')?.touched,
            'border-gray-300': addFieldForm.get('label')?.valid
          }"
          required
        />
        <div *ngIf="addFieldForm.get('label')?.invalid && addFieldForm.get('label')?.touched" class="text-red-500 text-sm mt-1">
          <div *ngIf="addFieldForm.get('label')?.hasError('required')">Label is required.</div>
        </div>
      </div>
      <div class="mb-4">
        <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
        <input
          id="description"
          name="description"
          type="text"
          class="mt-1 block w-full border border-gray-300 rounded px-3 py-2"
          formControlName="description"
          
         
        />
       
      </div>
      <div class="mb-4">
        <label for="placeholder" class="block text-sm font-medium text-gray-700">Placeholder</label>
        <input
          id="placeholder"
          name="placeholder"
          type="text"
          class="mt-1 block w-full border border-gray-300 rounded px-3 py-2"
          formControlName="placeholder"
          
         
        />
       
      </div>
      <div class="mb-4">
        <label for="value" class="block text-sm font-medium text-gray-700">value</label>
        <input *ngIf="!addFieldForm.value.type?.includes('select')" [type]="addFieldForm.value.type" formControlName="value" class="mt-1 block w-full border border-gray-300 rounded px-3 py-2" placeholder='Enter Value' />
        <select *ngIf="addFieldForm.value.type?.includes('select')" formControlName="value" class="mt-1 block w-full border border-gray-300 rounded px-3 py-2" placeholder='Select Value'>
          <option  [value]="'single'">
            single
          </option>
          <option  [value]="'Double'">
            Double
          </option>
  </select>
       
      </div>
      <div class="mb-4 flex gap-4">
        <div class="w-1/2">
          <label for="min" class="block text-sm font-medium text-gray-700">Min</label>
          <input
            id="min"
            name="min"
            type="number"
            class="mt-1 block w-full border border-gray-300 rounded px-3 py-2"
            formControlName="min"
          />
        </div>
        <div class="w-1/2">
          <label for="max" class="block text-sm font-medium text-gray-700">Max</label>
          <input
            id="max"
            name="max"
            type="number"
            class="mt-1 block w-full border border-gray-300 rounded px-3 py-2"
            formControlName="max"
          />
        </div>
      </div>
      <div class="mb-4 flex items-center gap-2">
        <input
          id="required"
          name="required"
          type="checkbox"
          class="w-5 h-5 text-blue-600 border-gray-300 rounded"
          formControlName="required"
        />
        <label for="required" class="text-sm font-medium text-gray-700">Required</label>
      </div>
        

      <div class="mb-4 text-center">
        <button
          type="submit"
          class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-700"
         
        >
          Submit
        </button>
      </div>
    </form>

   
    <!-- Close Button -->
     <div class="text-center">
    <button (click)="closeAddFeildInputModal()" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-700 text-center">
      Close
    </button>
  </div>
  </div>
</div>